                @import url('htps://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
                font-family: 'Poppins', sans-serif;
            }
            
            body {
                display: flex;
                justify-content: center;
                align-items: center;
                min-height: 100vh;
                background: #23242a;
            }
            
            .box {
                position: relative;
                width: 380px;
                height: 320px;
                background: #1c1c1c;
                border-radius: 10px;
                overflow: hidden;
            }
            
            .box::before {
                content: '';
                position: absolute;
                top: -50%;
                left: -50%;
                width: 380px;
                height: 320px;
                background: linear-gradient(0deg, transparent, #fffb00, #fffb00);
                transform-origin: bottom right;
                animation: animate 6s linear infinite;
            }
            
            .box::after {
                content: '';
                position: absolute;
                top: -50%;
                left: -50%;
                width: 380px;
                height: 320px;
                background: linear-gradient(0deg, transparent, #fffb00, #fffb00);
                transform-origin: bottom right;
                animation: animate 6s linear infinite;
                animation-delay: -3s;
            }
            
            @keyframes animate {
                0% {
                    transform: rotate(0deg);
                }
                100% {
                    transform: rotate(360deg);
                }
            }
            
            .form {
                position: absolute;
                inset: 2px;
                border-radius: 8px;
                background: #28292d;
                z-index: 10;
                padding: 50px 40px;
                display: flex;
                flex-direction: column;
            }
            
            .form h2 {
                color: #fffb00;
                font-weight: 500;
                text-align: center;
                letter-spacing: 0.1em;
            }
            
            .inputBox {
                position: relative;
                width: 300px;
                margin-top: 35px;
            }
            
            .inputBox input {
                position: relative;
                width: 100%;
                padding: 20px 10px 10px;
                background: transparent;
                border: none;
                outline: none;
                color: #23242a;
                font-size: 1em;
                letter-spacing: 0.05em;
                z-index: 10;
            }
            
            .inputBox span {
                position: absolute;
                left: 0;
                padding: 20px 10px 10px;
                font-size: 1em;
                color: #8f8f8f;
                pointer-events: none;
                letter-spacing: 0.05em;
                transition: 0.5s
            }
            
            .inputBox input:valid~span,
            .inputBox input:focus~span {
                color: #fffb00;
                transform: translateX(0px) translateY(-34px);
                font-size: 0.75em;
            }
            
            .inputBox i {
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 2px;
                background: #fffb00;
                border-radius: 4px;
                transition: 0.5s;
                pointer-events: none;
                z-index: 9;
            }
            
            .inputBox input:valid~i,
            .inputBox input:focus~i {
                height: 44px;
            }
            
            .checkBox {
                display: flex;
                justify-content: space-between;
            }
            
            .checkBox span {
                margin: 10px 0;
                font-size: 0.75em;
                color: #8f8f8f;
                text-decoration: none;
            }
            
            input[type="submit"] {
                border: none;
                outline: none;
                background: #fffb00;
                padding: 11px 25px;
                width: 100px;
                margin-top: 10px;
                border-radius: 4px;
                font-weight: 600;
                cursor: pointer;
                justify-content: space-between;
                align: center;
            }
            
            input[type="submit"]:active {
                opacity: 0.8;
            }
            
            .cr {
                display: flex;
                text-align: center;
                justify-content: space-between;
            }
            
            .cr p {
                margin: 10px 0;
                font-size: 0.75em;
                color: #8f8f8f;
                text-decoration: none;
            }
            
            .cr a {
                margin: 10px 0;
                font-size: 0.75em;
                color: #8f8f8f;
                text-decoration: none;
            }
            
            .cr a:hover,
            .cr a:nth-child(2) {
                color: #45f3ff;
            }
            /* media queries  */
            
            @media (max-width:768px) {
                html {
                    font-size: 50%;
                }
                body {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    min-height: 100vh;
                    background: #23242a;
                }
                .box {
                    max-width: 100%;
                }
                .form {
                    position: absolute;
                    inset: 2px;
                    border-radius: 8px;
                    background: #28292d;
                    z-index: 10;
                    padding: 50px 40px;
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                }
                .inputBox {
                    position: relative;
                    width: 100%;
                    margin-top: 35px;
                }
                input[type="submit"] {
                    border: none;
                    outline: none;
                    background: #fffb00;
                    padding: 11px 25px;
                    width: 100%;
                    margin-top: 10px;
                    border-radius: 4px;
                    font-weight: 600;
                    cursor: pointer;
                }
                input[type="submit"]:active {
                    opacity: 0.8;
                }