@import url('htps://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
}

.card {
    position: relative;
    width: 350px;
    height: 190px;
    background: #171819;
    transition: 0.5s;
}

.card:hover {
    height: 450px;
}

.card .lines {
    position: absolute;
    inset: 0;
    background: #000;
    overflow: hidden;
}

.card .lines::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    height: 120px;
    background: linear-gradient(transparent, #45f3ff, #45f3ff, #45f3ff, transparent);
    animation: animate 4s linear infinite;
}

@keyframes animate {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.card .lines::after {
    content: '';
    position: absolute;
    inset: 3px;
    background: #171819;
}

.card .imgBx {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height: 150px;
    background: #000;
    transition: 0.5s;
    z-index: 10;
    overflow: hidden;
}

.card:hover .imgBx {
    width: 250px;
    height: 250px;
}

.card .imgBx::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 150px;
    transform: translate(-50%, -50%);
    background: linear-gradient(transparent, #ff3c7b, #ff3c7b, #ff3c7b, transparent);
    animation: animate2 6s linear infinite;
}

@keyframes animate2 {
    0% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
}

.card .imgBx::after {
    content: '';
    position: absolute;
    inset: 3px;
    background: #171819;
}

.card .imgBx img {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    //filter: grayscale(1);//
}

.card .keterangan {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}

.card .keterangan .detail {
    padding: 0;
    text-align: center;
    width: 100%;
    transition: 0.5s;
    transform: translateY(145px);
}

.card:hover .keterangan .detail {
    transform: translateY(0px);
}

.card .keterangan .detail h2 {
    font-size: 1.25em;
    font-weight: 600;
    color: #45f3ff;
    line-height: 1.2em;
}

.card .keterangan .detail h2 span {
    font-size: 0.75em;
    font-weight: 500;
    color: #fff;
}

.card .keterangan .detail .detail2 {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin: 35px 0;
}

.card .keterangan .detail .detail2 h3 {
    font-size: 1em;
    color: #45f3ff;
    line-height: 1.2em;
    font-weight: 600;
}

.card .keterangan .detail .detail2 h3 span {
    font-size: 0.85;
    font-weight: 400;
    color: #fff;
}

.card .keterangan .detail .actionBtn {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    gap: 20px;
    margin: 25px 45px;
}

.card .keterangan .detail .actionBtn button {
    padding: 10px 30px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 1em;
    font-weight: 500;
    background: #45f3ff;
    color: #222;
    cursor: pointer;
    opacity: 0.9;
}

.card .keterangan .detail .actionBtn button:hover {
    opacity: 1;
}

.card2 {
    position: relative;
    width: 350px;
    height: 190px;
    background: #171819;
    transition: 0.5s;
}

.card2:hover {
    height: 450px;
}

.card2 .lines {
    position: absolute;
    inset: 0;
    background: #000;
    overflow: hidden;
}

.card2 .lines::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    height: 120px;
    background: linear-gradient(transparent, #45f3ff, #45f3ff, #45f3ff, transparent);
    animation: animate3 4s linear infinite;
}

@keyframes animate3 {
    0% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
}

.card2 .lines::after {
    content: '';
    position: absolute;
    inset: 3px;
    background: #171819;
}

.card2 .imgBx {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height: 150px;
    background: #000;
    transition: 0.5s;
    z-index: 10;
    overflow: hidden;
}

.card2:hover .imgBx {
    width: 250px;
    height: 250px;
}

.card2 .imgBx::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 150px;
    transform: translate(-50%, -50%);
    background: linear-gradient(transparent, #ff3c7b, #ff3c7b, #ff3c7b, transparent);
    animation: animate4 6s linear infinite;
}

@keyframes animate4 {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.card2 .imgBx::after {
    content: '';
    position: absolute;
    inset: 3px;
    background: #171819;
}

.card2 .imgBx img {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    //filter: grayscale(1);//
}

.card2 .keterangan {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}

.card2 .keterangan .detail {
    padding: 0;
    text-align: center;
    width: 100%;
    transition: 0.5s;
    transform: translateY(145px);
}

.card2:hover .keterangan .detail {
    transform: translateY(0px);
}

.card2 .keterangan .detail h2 {
    font-size: 1.25em;
    font-weight: 600;
    color: #45f3ff;
    line-height: 1.2em;
}

.card2 .keterangan .detail h2 span {
    font-size: 0.75em;
    font-weight: 500;
    color: #fff;
}

.card2 .keterangan .detail .detail2 {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin: 35px 0;
}

.card2 .keterangan .detail .detail2 h3 {
    font-size: 1em;
    color: #45f3ff;
    line-height: 1.2em;
    font-weight: 600;
}

.card2 .keterangan .detail .detail2 h3 span {
    font-size: 0.85;
    font-weight: 400;
    color: #fff;
}

.card2 .keterangan .detail .actionBtn {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    gap: 20px;
    margin: 25px 45px;
}

.card2 .keterangan .detail .actionBtn button {
    padding: 10px 30px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 1em;
    font-weight: 500;
    background: #45f3ff;
    color: #222;
    cursor: pointer;
    opacity: 0.9;
}

.card2 .keterangan .detail .actionBtn button:hover {
    opacity: 1;
}